.card {
	padding: 1.6rem;
	background-color: var(--color-primary-500);
	border-radius: var(--rounded-200);
}

.card-header {
	margin-bottom: 1.6rem;
}

.card__title {
	font-weight: var(--fw-bold);
	letter-spacing: 1px;
}
