.navigation-category {
	padding-inline: 1.4rem;
	height: 5rem;
	border: 1px solid transparent;
	border-radius: var(--rounded-100);
	gap: 1.6rem;
	transition: background-color var(--transition-duration),
		border-color var(--transition-duration),
		padding var(--transition-duration), width var(--transition-duration);
}

.navigation-category.active {
	color: var(--color-accent-white);
	background-color: var(--color-accent-pumpkin);
}

.navigation-category:hover {
	border-color: var(--color-primary-300);
}

.navigation-category__icon {
	width: 2.5rem;
	height: 2.5rem;
}

.navigation-category.open-half {
	width: 5rem;
	padding: 0;
	border-radius: var(--rounded-pill);
	margin-inline: auto;
	justify-content: center;
}

.navigation-category.open-half .navigation-category__title {
	display: none;
}
