.sidebar {
	width: 27rem;
	height: 100vh;
	height: 100dvh;
	padding: 2.4rem 1.6rem;
	flex-direction: column;
	gap: 3.5rem;
	position: sticky;
	top: 0;
	bottom: 0;
	left: 0;
}

.sidebar.open {
	margin-left: 0;
}

.sidebar-header {
	height: 5rem;
	gap: 2rem;
}

@media screen and (max-width: 950px) {
	.sidebar {
		width: 10rem;
	}

	.sidebar-header {
		justify-content: center;
	}

	.account-holder-username {
		display: none;
	}
}
