.saving-notification {
	gap: 1rem;
}
.saving-notification .profile-img {
	--dimen: 4.2rem;
}

.saving__amount {
	margin-left: auto;
}

.saving-lend-container {
	margin-top: 2rem;
	gap: 1rem;
	flex-wrap: wrap;
}

.badge {
	border-radius: var(--rounded-pill);
	padding: 0.2rem 1rem;
}

.saving-progress-container {
	margin-top: 1rem;
}

.saving__progress {
	height: 1.5rem;
	width: 100%;
	border-radius: var(--rounded-pill);
	overflow: hidden;
	background-color: var(--color-primary-300);
	border: 0;
}

.saving__progress::-webkit-progress-bar {
	border-radius: var(--rounded-pill);
	background-color: var(--color-primary-300);
}
.saving__progress::-webkit-progress-value {
	background-color: var(--color-accent-pumpkin);
	/* background-image: linear-gradient(
		68deg,
		rgba(185, 252, 30, 1) -1%,
		rgba(210, 68, 10, 1) 46.2%,
		rgba(13, 10, 210, 1) 103.6%
	); */
}

.saving__progress::-moz-progress-bar {
	background-color: var(--color-accent-pumpkin);
	/* border-radius: var(--rounded-pill); */
}
