.saving-notification {
	gap: 1rem;
}
.saving-notification .profile-img {
	--dimen: 4.2rem;
}

.saving__amount {
	margin-left: auto;
}

.saving-lend-container {
	margin-top: 2rem;
	gap: 1rem;
	flex-wrap: wrap;
}

.badge {
	border-radius: var(--rounded-pill);
	padding: 0.2rem 1rem;
}

.saving-progress-container {
	margin-top: 1rem;
}

.saving__progress {
	height: 1.5rem;
	width: 100%;
	border-radius: var(
		--rounded-pill
	); /*does not work with -webkit. Only work with progress bar outer html element not the value element*/
	overflow: hidden;
	background-color: var(
		--color-primary-300
	); /* this will not work on -webkit. Only work with progress bar outer html element not the value elemen*/
	border: 0;
}

.saving__progress::-webkit-progress-bar {
	border-radius: var(--rounded-pill);
	background-color: var(--color-primary-300);
}
.saving__progress::-webkit-progress-value {
	background-color: var(--color-accent-pumpkin);
}

.saving__progress::-moz-progress-bar {
	background-color: var(--color-accent-pumpkin);
	/* border-radius: var(--rounded-pill); */
}
